<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- users.ejs -->
    <h1>User Profile: <%= username %></h1>
    <!-- Display user information and edit form -->
    
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Profile</h1>
                <p><strong>Name:</strong> <%= user.name %></p>
                <p><strong>Email:</strong> <%= user.email %></p>
                <!-- Add more profile details here -->
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </body>
</html>