<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- users.ejs -->
    <h1>User Profile: <%= username %></h1>
    <!-- Display user information and edit form -->
  </body>
</html>